{% extends "main.html" %}
{% block car%}
 <form action="/order/cart_all/" method="post">
     {% csrf_token %}
<h2>Информация о машине</h2>
            <div class="col col_13">
        	<a  rel="lightbox[portfolio]" href="images/product/10_l.jpg" title="Lady Shoes"><img src="{{ MEDIA_URL }}{{ car.car_img.name }}" alt="Image 10" /></a>
            </div>

            <div class="col col_13 no_margin_right">
                <table>
                     <tr>
                        <td height="30" width="160">Марка:</td>
                        <td><input name="id" value={{car.id}} ></p></td>
                    </tr>
                    <tr>
                        <td height="30" width="160">Марка:</td>
                        <td>{{ car.mark.name }}</td>
                    </tr>
                    <tr>
                        <td height="30">Модель:</td>
                        <td>{{ car.model.name }}</td>
                    </tr>
                    <tr>
                        <td height="30">Цвет:</td>
                        <td>{{ car.color }}</td>
                    </tr>
                    <tr>
                        <td height="30">Дилер:</td>
                        <td>{{ car.dealer.address }}</td>
                    </tr>
                    <tr>
                        <td height="30">Комплектация:</td>
                        <td>{{ car.complectation }}</td>
                    </tr>
                    <tr>
                        <td height="30">Цена:</td>
                        <td>{{ car.price }}</td>
                    </tr>
                    <tr><td height="30">Количество</td><td><input name="quantity" type="text" value="1" style="width: 20px; text-align: right" /></td></tr>
                </table>
                <div class="cleaner h20"></div>
                <a  class="add_to_cart" onClick="">Добавить в корзину</a>
                <img src="" class="btn btn-default" onClick="" role="button" title="Добавить в корзину">
                <input type="submit" value="Записаться" id="reset" name="reset" class="submit_btn float_r" />
			</div>
            <div class="cleaner h30"></div>

            <h5><strong>Описание:</strong></h5>
            <p>{{ car.description }}</p>

</form>
<hr>
            <h3>Комментарии:</h3>
    {% for n in comments %}
    <p>{{ n.comments_user }}:{{ n.ctext }} </p>
    {% endfor %}
    <form action="/cars/add_comments/{{ car.id }}/" method="post">
    {% csrf_token %}
        {{ form }}

    <input type="submit" class="button" value="Добавить">

    </form>

{% endblock %}