{% extends "main.html" %}
{% block car_inf %}
    <h5>Информация о магазине</h5>
    <p>
        Автосалон "Автосервис" - команда профессионалов, которая специализируется не только на ремонте различных марок
        автомобилей, но также на их продаже. Основной парк обслуживаемых автомобилей – автомобили от 3-х до 7-ти лет,
        сошедшие с гарантии дилера. Наш автосервис оборудован всем необходимым для ремонта и технического обслуживания:
        (пневмо)подъемниками, кузовным стапелем, стендом развала-схождения, оборудованием по заправке кондиционеров,
        фирменными диагностическими сканерами. Наши мастера-приемщики имеют высшее образование, а в прошлом еще и
        механики со стажем, что позволяет найти общий язык, как со слесарем, так и с клиентом.
    </p>
    <p>
        Мы ценим время клиента,
        поэтому создали специальный сайт для упрощения покупки автомобиля и записи на техосмотр. Всегда рады
        приветствовать Вас у нас!!
    </p>
{% endblock %}